<div class="container">
    <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
        <p><%= notice %></p>
        <h1>ブログ一覧</h1>
        <%= link_to "ブログを作成する", new_blog_path, class: 'btn btn-default' %>
        <% @blogs.each do |blog| %>
            <div class="row">
                <h4><strong><%= blog.title %></strong></h4>
                <p><%= blog.content %></p>
                <div class="col-md-9 col-md-offset-0 col-sm-9 col-sm-offset-0" style="padding-left:0px;">
                  <p  class="blog_author" style="float: left"><%= profile_img(blog.user) %><%= blog.user.name %>（<%= blog.created_at.strftime("%Y年%m月%d日") %>）</p>
                </div>
                <div class="col-md-3 col-md-offset-0 col-sm-3 col-sm-offset-0" float: right">
                  <%= link_to "", edit_blog_path(blog.id), class: 'btn fa fa-pencil-square-o',:title => "編集"%>
                  <%= link_to "", blog_path(blog.id), method: :delete, data: { confirm: '本当に削除していいですか？'}, class: 'btn fa fa-trash',:title => "削除" %>
                  <% if false %> <%= link_to "編集", edit_blog_path(blog.id), class: 'btn btn-default btn-sm btn-success' %> <% end %>
                  <% if false %> <%= link_to "削除", blog_path(blog.id), method: :delete, data: { confirm: '本当に削除していいですか？'}, class: 'btn btn-default btn-sm btn btn-danger' %> <% end %>
                </div>
            </div>
        <% end %>
    </div>
</div>
